*{
  list-style: none;
  margin:0px;
  padding:0px;
}
#root{
  background-color: #F2F3F4;
  position: relative;
}

.container{
  position: relative;
  
}
.header{
  margin-bottom:30px;
  padding-top:30px;
}

.result{
  text-align: center;
}

.result >a{
    text-decoration: underline !important;
}

.title{
  background-color: red;
  padding:5px;
  position:fixed;
  width:100%;
  z-index: 999;
}

.question{
  padding:5px;
  text-align:left;
  background-color: #FDFEFE;
  
  border-radius: 10px;
  margin:10px;
  box-shadow: 2px 2px 5px #ABB2B9;
}

.question.red{
  border:1px solid red;
}

.question.green{
  border:1px solid green;
}

.question.yellow{
  border:1px solid yellow;
}

.question >ul{
  margin:15px;
}

.answerItem.greenItem{
  background-color: #28B463;
  border-radius: 5px;
}

.answerItem{
  margin:5px;
  display:block;
}

.answerItem >label{
  text-align:left;
  margin:5px;

}

.bottomMark{
  text-align: right;
}

.bottomMark.correct{
  color:green;
}

.bottomMark.wrong{
  color:red;
}

.footer{
  padding:30px;
  text-align: center;
}

.btn{
  display:block;
  
  padding:10px !important;
  margin:10px;
}

.btn-success{
  margin:auto;
  
}

.info{
  color:red
}



